body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar{
  background-color: #f4f4f4;
    box-shadow: 15px 9px 25px 0 rgba(0, 0, 0, .1);
}

.footer{
  background-color: #f4f4f4;
    box-shadow: 15px 9px 25px 0 rgba(0, 0, 0, .1);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 35px;
}
.containerBody{
  margin-top: 40px;
}
.loader_container{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 100px;
  padding: 10px;
}
.loadercard{
  background-color: #f4f4f4;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 10px;
}